* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 80%;
    max-width: 400px;
    color: #00693E;
  }
  
  .box {
    background-color: #ffffff;
    border: 2px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    color: black;
  }
  
  .box.expanded {
    height: 160px;
    border-color: #00693E;
    background-color: #EDF9EB;
    border-radius: 4px;
  }
  
  .box h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .options {
    display: none;
  }
  
  .box.expanded .options {
    display: block;
  }
  
  .colors {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .sizes {
    display: flex;
    gap: 10px;
  }
  
  .size-option {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .size-option:hover {
    background-color: #ddd;
  }
  
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #333;
    margin: 20px 0;
  }

  .divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid #999;
    margin: 0 10px;
  }

  .divider span {
    padding: 0 10px;
    font-weight: bold;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .button {
    width: 100%;
    background-color: #00693E;
    margin-top: 20px;
    height: 50px;
    border-radius: 4px;
    border-width: 0px;
    color: #fff;
  }

  .span {
    color: #00693E;
  }

  .footer {
    color: #00693E;
    margin-top: 10px;
    /* display: flex;
    flex-direction: row;
    justify-items: end; */
}

.firstbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.span1 {
    margin-right: 40px;
    margin-left: 40px;
}
.select {
    margin-left: 14px;
    

}
.selectright {
    margin-right: 35px;
}